# Python cache e arquivos compilados
__pycache__/
*.py[cod]
*$py.class
data/matA.txt
data/matB.txt

# Diretórios de resultados
results/
venv/

# Arquivos temporários e logs
*.log
*.tmp
*.bak

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações de IDE/editor 
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
